# {# pkglts, coverage
[html]
title = alinea.astk's coverage
directory = build/htmlcov

[run]
source = alinea.astk

[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplemented
    raise NotImplementedError
show_missing = True

# #}
