name: Building Package using Conda explicit

on:
  workflow_call:
    inputs:
      conda-directory:
        description: 'Directory containing the conda recipe. Default is "conda".'
        default: "conda"
        required: false
        type: string
      python-minor-version:
        description: 'Python minor version on which to build / deploy the package. Default is "[8, 9, 10, 11, 12]" '
        default: "[8, 9, 10, 11, 12]"
        required: false
        type: string
      operating-system:
        description: 'OS on which to build / deploy the package. Default is "[ ubuntu-latest , macos-latest , macos-13 , windows-latest ]" '
        default: '["ubuntu-latest", "macos-latest", "macos-13", "windows-latest"]'
        required: false
        type: string
      numpy-version:
        description: 'Numpy minor version. Default is None.'
        default: 0
        required: false
        type: number
      conda-channels:
        description: 'Conda channels used during the building phase of the package. Default is the value of the GitHub variable `ANACONDA_CHANNELS`. If not set, job `openalea/action-build-publish-anaconda` will set it as `conda-forge` '
        default: ${{ vars.ANACONDA_CHANNELS}}
        required: false
        type: string
      build-options:
        description: 'Build options for the package. Default is "--no-test".'
        default: '--no-test'
        required: false
        type: string
    secrets:
      anaconda_token:
        description: 'Anaconda access Token (required)'
        required: true

jobs:
  build-and-publish:
    name: ${{ matrix.os }}, Python 3.${{ matrix.python-minor-version }} for conda deployment
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJson(inputs.operating-system) }}
        python-minor-version: ${{ fromJson(inputs.python-minor-version) }}
        isMaster:
          - ${{ github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v') }}
        exclude:
          - isMaster: false
            python-minor-version: 8
          - isMaster: false
            python-minor-version: 9
          - isMaster: false
            python-minor-version: 11
          - isMaster: false
            python-minor-version: 12
          - isMaster: false
            os: macos-latest
            python-minor-version: 10
          - isMaster: false
            os: macos-13
            python-minor-version: 10
          - isMaster: false
            os: windows-latest
            python-minor-version: 10

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Determine publication
      uses: haya14busa/action-cond@v1
      id: publish
      with:
        cond: ${{ startsWith(github.ref, 'refs/tags/v') }}
        if_true: 'true'
        if_false: 'false'
    - name: Build and Publish
      uses: openalea/action-build-publish-anaconda@git_describe_tag
      with:
        conda: ${{ inputs.conda-directory }}
        mamba: true
        python: ${{ matrix.python-minor-version }}
        numpy: ${{ inputs.numpy-version }}
        channels: ${{ inputs.conda-channels }}
        token: ${{ secrets.anaconda_token }}
        publish: ${{ steps.publish.outputs.value }}
        label: main
        buildoptions: ${{ inputs.build-options }}